doctype html
meta(charset="utf-8")
meta(author="Austin Ewens")
title Codeday
style.
    * {margin:0;padding:0;}
    html, body {
        background: #fff;
        overflow: hidden;
        height: 100%
    }
    
//- canvas {
//-     background: "#000" !important; 
//-     display: block;
//-     position: absolute;
//-     margin: auto;
//-     top: 0;
//-     bottom: 0;
//-     left: 0;
//-     right: 0;
//- }
body
    #wrapper
    script(src="math.js")
    script(src="helper.js")
    script(src="maybe.js")
    script(src="vector2.js")
    script(src="box.js")
    script(src="code.js")
