doctype html
title &mu;Text
link(href="http://fonts.googleapis.com/css?family=Fira+Mono|Lobster", rel="stylesheet")
link(href="css/style.css", rel="stylesheet")
body
    #load
    #app
        header
            span &mu;Text
            nav
                ul
                    li File
                    li Edit
                    li Help
        .clear
        aside
            ul
                li Files
                ul /folder
                li test.coffee
                li test.js
        section
            ul#lines
            textarea
        .clear
        footer
            span folder/test.coffee 0,0
noscript I'm sorry.
script(data-main="bin/main", src="vendor/require.js")
    
